// Fonts
//@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~sweetalert2/src/sweetalert2.scss';



.router-link-exact-active {
	background-color: #e91e63;
	color: #fff !important;
}

.usertable {
	font-size: 12px !important;
	margin-bottom: 0px !important;
}
.td-usertable{
	padding-top: 3px !important;
	padding-bottom: 4px !important;
}