// Fonts
//@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~sweetalert2/src/sweetalert2.scss';



.router-link-exact-active {
	background-color: #e91e63;
	color: #fff !important;
}

.usertable {
	font-size: 12px !important;
	margin-bottom: 0px !important;
}
.td-usertable{
	padding-top: 3px !important;
	padding-bottom: 4px !important;
}

.gallery-cate img {
    width: 20%;
    float: center;
}

.media .listcategoria {
    margin: 0 auto;
    width: 64px;
    height: 64px;
    overflow: hidden;
    margin-right: 15px;
    background-color:  #e91e63;
    border-radius: 6px;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
}

.media-body {
	width:0px !important;
}
.media-heading {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}


.imgpromo {
    max-width: 70px !important;
}

.productlist{
    font-size: 0.7em !important;
}

.productlist small{
    font-size: 100% !important;
}

.productcate {
    border-radius: 13px !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    line-height: 1 !important;
}

.text-width {
    color:#fff;
}


.cut-text {
  display: -webkit-box;
   -webkit-line-clamp: 4;
   -webkit-box-orient: vertical;
   overflow: hidden;
   text-overflow: ellipsis;
}