
.card{
    border-radius: 36px !important;
}
.shadow {
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}
.card .card-content {
    padding: 5px 15px !important;
}
.card-blog .card-title {
    margin-top: 0px !important;
}
.card .footer {
    margin-top: 5px !important;
    padding: 5px 15px !important;
    position: absolute;
    bottom: 10px;
    width: 100%;
    height: 40px;
}
.card .card-image img {
    height: 15em !important;
    border-radius: 36px;
    pointer-events: none;
    box-shadow: 0 5px 15px -8px rgba(0, 0, 0, 0.24), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}
/**/
.imgcard {
    background-position: center center;
    background-size: cover;
    background: linear-gradient(60deg, #ec407a, #c2185b);
}
.cardprecio {
    position:absolute;
    margin-top: 25px;
    font-size: 15px;
}

.almuerzo {
	background-position: center center;
    background-size: cover;
	background-color:  #e91e63;/*#e91e63;*/
    color: #fff;
	border-radius: 36px;
	padding-top: 3px;
}
.pb-c {
	padding-bottom:5px !important;
}
/*RIBBON*/
.ribbon {
    width: 150px;
    height: 150px;
    overflow: hidden;
    position: absolute
}
.ribbon::before,
.ribbon::after {
    position: absolute;
    z-index: -1;
    content: '';
    display: block;
    border: 5px solid #2980b9
}
.ribbon span {
    position: absolute;
    display: block;
    width: 225px;
    padding: 8px 0;
    background-color: #FFC300;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
    color: #0a2b4e;
    font: 100 18px/1 'Lato', sans-serif;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    text-transform: uppercase;
    text-align: center;
    font-size: 18px;
}
.ribbon-top-right {
    top: -3px;
    right: -3px;
}
.ribbon-top-right::before,
.ribbon-top-right::after {
    border-top-color: transparent;
    border-right-color: transparent
}
.ribbon-top-right::before {
    top: 0;
    left: 17px
}
.ribbon-top-right::after {
    bottom: 17px;
    right: 0
}
.ribbon-top-right span {
    left: -25px;
    top: 30px;
    transform: rotate(45deg)
}
/*HASTA AQUI*/

/*ALMUEZO DEL DIA*/
.linea {
	margin-top: 2px;
    margin-bottom: 2px;
}

.card .footer .stats .material-icons {
    top: -1px;
}
/*HASTA AQUI*/

.panel-center {
    float: none;
    display: block;
    z-index: 3;
    margin-right: auto;
    margin-left: auto;
    margin-top: -150px;
}

.ulcenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-rose {
    color: #e91e63;
}


/* DESDE AQUI NUMERO*/

.btncant.btncant  input[type="number"] {
    max-width: 2rem !important;
    border-width: 0 0px;
    height: 2rem;
}


.btncant input[type="number"] {
-webkit-appearance: textfield;
-moz-appearance: textfield;
appearance: textfield;
}

.btncant input[type=number]::-webkit-inner-spin-button,
.btncant input[type=number]::-webkit-outer-spin-button {
-webkit-appearance: none;
}

.btncant input[type=number] {
text-align: center;
}
.letracard{
    font-weight: bold;
    color: #e91e63;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 33px;
    line-height: 1.7;
}
/*HASTA AQUI */

/*de aqui img la colmena central*/
.imgcol{
    margin-top: 20px;
    margin-left: 3rem;
    width: 40%;
    height: auto;
    position:absolute;
    z-index: 1;
}
@media (min-width: 360px) and (max-width: 640px) {
    .imgcol{
        width: 70%;
        height: auto;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        margin-top: 1px;
    }
}
/*hasta aqui*/

/*Desde aqui WIZARD*/
.wizard {
    margin: 20px auto;
    background: #fff;
}

.wizard .nav-tabs {
    position: relative;
    margin: 40px auto;
    margin-bottom: 0;
    border-bottom-color: #e0e0e0;
}

.wizard > div.wizard-inner {
    position: relative;
}

.connecting-line {
    height: 4px;
    background: #fff;
    position: absolute;
    width: 70%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    z-index: 1;
}

.wizard .nav-tabs > li.active > a, .wizard .nav-tabs > li.active > a:hover, .wizard .nav-tabs > li.active > a:focus {
    color: #555555;
    cursor: default;
    border: 0;
    border-bottom-color: transparent;
}

span.round-tab {
    width: 70px;
    height: 70px;
    line-height: 70px;
    display: inline-block;
    border-radius: 100px;
    background: #fff;
    border: 2px solid #e0e0e0;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 25px;
}
span.round-tab i{
    color:#555555;
}
.wizard li.active span.round-tab {
    background: #fff;
    border: 3px solid #3C4858;

}
.wizard li.active span.round-tab i{
    color: #3C4858;
}

span.round-tab:hover {
    color: #333;
    border: 2px solid #333;
}

.wizard .nav-tabs > li {
    width: 25%;
    margin: auto;
}

.wizard li:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 0;
    margin: 0 auto;
    bottom: 0px;
    border: 5px solid transparent;
    border-bottom-color: #3C4858;
    transition: 0.1s ease-in-out;
}

.wizard li.active:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 1;
    margin: 0 auto;
    bottom: 0px;
    border: 10px solid transparent;
    border-bottom-color: #3C4858;
}

.wizard .nav-tabs > li a {
    width: 70px;
    height: 70px;
    margin: 20px auto;
    border-radius: 100%;
    padding: 0;
}

.wizard .nav-tabs > li a:hover {
    background: transparent;
}

.wizard .tab-pane {
    position: relative;
    padding-top: 30px;
}

.wizard h3 {
    margin-top: 0;
}

@media( max-width : 585px ) {

    .wizard {
        width: 90%;
        height: auto !important;
    }

    span.round-tab {
        font-size: 16px;
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .wizard .nav-tabs > li a {
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .wizard li.active:after {
        content: " ";
        position: absolute;
        left: 35%;
    }


    .pac-item {
        font-size:  16px;
        cursor:  pointer;
    }
    .pac-item-query {
        font-size:  16px;
    }
}
/*Hasta aqui wizard*/

/*Error*/
.errorbo{
    color: #a94442 !important;
    background-color: #f2dede !important;
    border-color: #ebccd1 !important;
    margin-top: 2px;
    margin-bottom: 2px;
}
/*Error*/